/* .skills h1:hover {
    font-size: 50px;
    font-weight: bold;
    color: rgb(49, 49, 49);

} */

.title h1 {
    font-size: 6rem;
}

.skills h1:hover {
    
    font-weight: bold;
    font-size: 5rem ;
    color: white;
   
}

.logo img {
    height: 30rem;
    width: 22rem;
  }



  /* -------------------------FOOTER-------------------------------- */

footer .footer-info {
    font-size: 1rem;
  
  }